* {
  font-family: arial;
  font-size: large; 
  margin: 0;
  padding: 0;
}

body{
} 

.bar{
	display: flex;
	justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  padding-left: 1rem;
  padding-right: 1rem;  
  top: 0;
  width: 100%;
  height: 52px;
}

.rBar{
	display: flex;
}

.rItems{
  padding-left: 1rem;
}

.barHome{
  text-decoration: none;
  color: inherit;
}

.barBlog{
  text-decoration: none;
  color: inherit;
}

.barPortfolio{
  text-decoration: none;
  color: inherit;
}

.barContact{
  text-decoration: none;
  color: inherit;
  margin-right: 2rem;
}


.aboutBackground{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-image: url(media/milky-way.jpg);
  background-position: center;
  background-size: cover;
}

.aboutSquare{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: auto;
  max-height: auto;
	margin-left: auto;
	margin-right: auto;
  background: #00000090;
  margin-top: 22vh;
}

.title{
	display: flex;
	align-items: baseline;
	justify-content: center;
  padding-right: 2rem;
  padding-left: 1rem;
}

.titleText {
  text-align: center;
  margin-left: 1rem;
  font-size: 8rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.headerLine{
  width: 100vh;
  margin-left: 1rem;
}

.blinker{
	height: 7rem;
	background-color: #a9a8a8;
	width:1rem;
}

.blinkOff{
	opacity: 0;
}

.aboutDiv{
	max-width: 881px;
}

.aboutP{
	color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.socials{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  margin-top: 0.5rem;
}

.social{
  height: 64px;
}

.gitDiv{
  display: flex;
  align-items: center;
  height: 100px;
  transition: 0.8s;
}

.gitDiv:hover{
  border-bottom: 1px white solid;
}

.linkedIn{
  display: flex;
  align-items: center;
  height: 100px;
  transition: 0.8s;
}

.linkedIn:hover{
  border-bottom: 1px #0093F9 solid;
}

.cvIcon{
  display: flex;
  align-items: center;
  height: 100px;
  transition: 0.8s;
}

.cvIcon:hover{
  border-bottom: 1px red solid;
}

.cvimg{
  height: 64px;
}

div.arrowDiv{
  margin-top: 11.5rem;
}

img.downArrow{
  height: 54px;
}

.portfolio{
  height: 100vh;
  background-color: #00DCDC;
}

p.portfolioTitle{
  margin-left: 1rem;
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
